/* @import url(https://fonts.googleapis.com/css?family=Orbitron|Passion+One); */

body{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  background-image: url(../assets/background/bg1.jpg);
  height: 100%;
  color: #e99518;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
input[type='text']{
  color:blue;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
}
button:focus {outline:0;}
/*lower half of container */
.section2{
  position: absolute;
  margin-top: 100px 0 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 210px;
  display:table-row;
  /* width: 100%; */
}
.col1{
  bottom: 0;
  width: 15%;
  display:table-cell;
}
.col1 fieldset{
  height: 210px;
}
.col1 p{ 
  margin-right: 10px;
  display: table-row;  
}
.col1 label{
  display:table-cell;
}

.col1 input{ 
  margin-left: 20px;
  display: table-cell;
  width: 20px;
  height: 20px; 
}
.col2{
  padding-bottom: 0;
  width:10%;
  display:table-cell;
  height: 300px;
}
.col2 fieldset{
  text-align: center;
  height: 210px;
}
.col2 p{ 
  display: table-row;  
}
.col2 input{ 
  display: table-cell;
  width: 90px;
  height: 50px; 
  text-align: center;
  margin-right: 10px;
  font-family: 'Orbitron', sans-serif;
}
.col3{
  display:table-cell;
  width:15%;
}
.col3 fieldset{
  height: 210px;
}
.col3 p{ 
  display: table-row;  
}
.col3 label{
  display:table-cell;
}
.col3 input{ 
  margin-left: 50px;
  display: table-cell;
  width: 20px;
  height: 20px; 
}
.col4{
  display:table-cell;
  width:auto;
}
.col4 fieldset{
  /* display: inline-block; */
  /* height: 210px; */
  height: 210px;
  width: auto;
  text-align: center;
}
.col4 button{
  font-family: 'Orbitron',sans-serif;
  /* padding: 5px 20px; */
  display: table-row;
}
.colHead{
  /* text-align: center; */
  width: 100%;
  min-width: 100%;
}
.colBody{
  display:table-row;
  text-align: center;
  width: 100%;
}
.pulse {
  cursor: pointer;
  width: 200px;
  color: #e7ae11 !important;
  text-transform: uppercase;
  background: #666666;
  padding: 5px;
  border: 4px solid #7b817e !important;
  display: inline-block;
  border-radius: 50px;
  }
.pulseReady {
  padding: 5px;
  background: #af7b2c;
  border-radius: 50px;
  color: #faf0e2 !important;
  border-color: #4cf808 !important;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 30px #4cf808;
  }
.home {
  width: 130px;
  cursor: pointer;
  color: #ffffff !important;
  text-transform: uppercase;
  background: #666666;
  padding: 5px;
  border: 4px solid #7b817e !important;
  display: inline-block;
  border-radius: 50px;  
  }
.home:hover {
  background: #ff0000;
  border-radius: 1px;
  color: #faf0e2 !important;
  border-color: #f6af15 !important;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 30px #f6af15;
  }
.hyperdrive {
    /* width: 400px; */
    width: 20%;
    max-width: 500px;
}
.pulse2 {
  cursor: pointer;
  width: auto;
  color: #c5dbd0 !important;
  text-transform: uppercase;
  background: #e99518;
  padding: 5px;
  border: 4px solid #e99518 !important;
  border-radius: 10px;
  display: inline-block;
  margin-left: 15px;
  }

.pulse2:hover {
  color: #494949 !important;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
  }

.typewriterBox {
  font-size: 85%;
  position: absolute;
  margin-top: 10%;
  margin-left: 25%;
}
.typewriter h1 {
  color: #e99518;
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'VT323', monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #e99518; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation-name: typing;
  animation-delay: 3s;
  animation: typing 5.5s steps(50, end), blinking-cursor .7s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #e99518; }
}

/* Loading animation */
.no-js #loader { 
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/loading/hyper.gif) center no-repeat #282828;
  background-size: cover;
}

fieldset span {
  float: right;
  margin-left:100%;
}
fieldset p {
  margin-right: 20px;
}

/* Port image */
.portBox {
  font-size: 75%;
  position: absolute;
  margin-top: 5%;
  margin-left: 45%;

  max-width: 500px;
  min-width: 200px;
  z-index: -1;
}
.portBox img{
  /* opacity: 0; */
  max-width: 100%;
  max-height: 100%;
  box-shadow: 10px 10px 5px #474542;
}
/* Port image fade in */
.fadein {
  animation: fadeIn 10s ease;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fadeout {
  opacity: 0;
  animation: fadeout 8s ease;
}
@keyframes fadeout{
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

strong{
  color: #58ba83;
}
.transition{
  transition: all .3s ease-out;
}
.heading{
  text-align: center;
  font-size:0.8em;
  
}
.center-align{
  text-align: center;
  width: 250px;
  height: 70px;
  margin-right: 50px;
  margin-top: 20px;
  left: 30%;
  top: 50%;
  display: table;
}
.col4 input{
  margin-left:60px;
}
.col4 label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 35px 40px;
  border-radius: 3px;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
input[type="radio"]:checked + label{
  background: #e99518;
  border-radius: 1px;
  color: #faf0e2 !important;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 25px #e99518
}
.ditIt {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #1d649e;
  color: white;
  padding: 35px 40px;
  border-radius: 3px;
  box-shadow: 0 0 25px #40ff05
}

.flashit{
  animation-delay: 3s;
  color:#ffffff;
	-webkit-animation: flash linear 2s infinite;
	animation: flash linear 2s infinite;}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

.playerStats {
  color: greenyellow;
}
.Class1 {
  content:url(../assets/port/1.gif);
}
.Class2 {
  content:url(../assets/port/2.gif);
}
.Class3 {
  content:url(../assets/port/3.gif);
}
.Class4 {
  content:url(../assets/port/4.gif);
}
.Class5 {
  content:url(../assets/port/5.gif);
}
.Class6 {
  content:url(../assets/port/6.gif);
}
.Class7 {
  content:url(../assets/port/7.gif);
}
.Class8 {
  content:url(../assets/port/8.gif);
}
.Class9 {
  content:url(../assets/background/bg2.jpg);
}
.NO-PORT {
  content:url(../assets/port/a-broken.gif);
}

