/*
This is the style for the start page
*/
/* Card contains all the sections inside it */
/* User Interface or data: font-family: 'Passion One', cursive; */
body {
  font-family: 'Orbitron', sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/background/bg1.jpg);
}
img {
  height:290px;
  width:360px;
  border-radius: 94%;
  opacity: 0.7;
}
img:hover {
  opacity: 1;
}

h1 {
  color: #e99518;
  font-size: 35px;
}

label {
  color: #e99518;
  font-size: 34px;
}

h2 {
  font-size: 30px;
  color: #e99518;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

input {
  display: block;
  transition: .3s ease;
}

/* for the background video */
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.card{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.section1{
  text-align: center;
  margin-top:50px;
}
.section2{
  text-align: center;
  margin-top:50px;
}
.section2 input{
  text-align: center;
  /* margin-left:10px; */
  display: inline-block;
  height: 40px;
  margin: 10px 0;
  font-size: 20px;
  border: none;
}
input[type=text] {
  outline: none;
  background: transparent;
  width: 300px;
  border: none;
  border-bottom: 2px solid #e99518;
  font-family: 'Orbitron', sans-serif;
  color:#e99518;
}
/*
style for the userName and shipName
*/

.section3{
  text-align: center;
  margin-top:50px;
}
.section3 label{
  font-size: 20px;
  width: 200px;
}

.section3 button:hover{ 
  background-position: right center; 
}
.section4{
  margin-top: 50px;
}

/* 
Reference : https://codepen.io/jacobberglund/pen/AKiBf
*/
strong{
  color: #58ba83;
}
.transition{
  transition: all .3s ease-out;
}
.heading{
  text-align: center;
  font-size:0.8em;
  
}
.center-align{
  display: inline;
}

input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

.section3 label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 35px 40px;
  border-radius: 3px;
}

input[type="radio"]:checked + label{
  background-color:#e99518;
}

.flashit{
  font-weight: 800;
  margin: 10% auto;
  transition-duration: .5s;
  font-size:35px;
  font-family: 'Orbitron', sans-serif;
  color: #e99518;
  display: block;
	-webkit-animation: flash linear 2s infinite;
	animation: flash linear 2s infinite;}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

#startGame:hover {
  font-family: 'Orbitron', sans-serif;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  transform: scale(2);
  transition-duration: .5s;
}